/* Estilização Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #99beb8; /* Cor suave para o fundo */
    color: #333;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título Principal */
h1 {
    color: #01192c; /* Cor diferente para o título */
    text-align: center;
    margin-bottom: 20px;
}

/* Parágrafo de Autobiografia */
p {
    font-size: 1.1em; /* Tamanho de fonte maior */
    text-align: justify; 
    margin-bottom: 20px;
}

/* Lista de Hobbies */
ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px; /* Espaçamento maior entre os itens */
}

/* Imagem do Hobby */
.hobby-img {
    width: 250px; 
    height: auto;
    border-radius: 15px; 
    display: block; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse; /* Remove espaçamento entre as células */
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #555;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table img {
    max-width: 80px; /* Ajusta o tamanho das imagens dentro da tabela */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

/* Link */
a {
    color: #1e90ff; /* Cor padrão do link */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff4500; /* Muda para Laranja Avermelhado ao passar o mouse */
    text-decoration: underline;
}

/* Estilo para o botão e mensagem JS */
button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 15px;
    display: block; /* Para que o botão ocupe sua própria linha */
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #218838;
}

#mensagem {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    color: #555;
    margin-top: 10px;
}